script(type='text/javascript', src='/js/jquery.js')
script(type='text/javascript', src='/js/bootstrap.js')
script(type='text/javascript', src='/js/sheetengine.js')
script(type='text/javascript', src='/js/game.js')
script(type='text/javascript', src='/js/socket.io.js')
